<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page" {% if page.image.feature %}class="feature"{% endif %}>

{% include browser-upgrade.html %}
{% include navigation.html %}

{% if page.image.feature %}


<div class="entry-header">
  {% if page.image.credit %}<div class="image-credit">Image source: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></div><!-- /.image-credit -->{% endif %}
  <div class="entry-image">
    <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }}">
  </div><!-- /.entry-image -->
</div><!-- /.entry-header -->
{% endif %}



<div id="main" role="main">
  <article class="entry">
    <header class="header-title">
      <div class="header-title-wrap">
        <h1 class="entry-title">{{ page.title }}</h1>










<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<title>jQuery scrollToTop Plugin Demo</title>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="../css/scrollToTop.css">
<link rel="stylesheet" href="../css/easing.css">
<style type="text/css">
.container {
width: 980px;
margin: auto;
}
</style>
</head>
<body>
<div id="jquery-script-menu">
<div class="jquery-script-center">
<ul>
<li><a href="http://www.jqueryscript.net/other/Simple-jQuery-Plugin-For-Scroll-To-Top-Button-scrollToTop.html">Download This Plugin</a></li>
<li><a href="http://www.jqueryscript.net/">Back To jQueryScript.Net</a></li>
</ul>
<div class="jquery-script-ads"><script type="text/javascript"><!--
google_ad_client = "ca-pub-2783044520727903";
/* jQuery_demo */
google_ad_slot = "2780937993";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div>
<div class="jquery-script-clear"></div>
</div>
</div>
<div class="container" style="margin-top:150px;">
<h1>jQuery scrollToTop Plugin Demo</h1>
<div>
<h3>Css3/html5</h3>
<p>Built-on CSS3 and HTML5 semantics to allow you to start captializing on a next generation standard.</p>
</div>
<div>
<h3>Quick Start</h3>
<p>First, clone the AdaptGrid from Github. Then add the grid and class in your web. Lastly, compile the Less and view the awesome changes in your browser</p>
</div>
<div>
<h3>Semantic</h3>
<p>Everything is now semantic. Now you can have the cleanest markup without sacrificing the utility and speed of AdaptGrid.</p>
</div>
<div>
<h3>Mobile Fisrt</h3>
<p>Now you can build for small devices first. Then, as devices get larger and larger, layer in more complexity.</p>
</div>
<div>
<h3>Responsive</h3>
<p>Make Responsive Theme part of your website design, or upgrade your current one to a mobile friendly Theme that automatically adapts to any screen resolution or device.</p>
</div>
<div>
<h3>Less</h3>
<p>You don't have to know a ton about Less to take this class. The first hour covers an introduction, with the second hour focused on implementing it. You'll be writing Less in no time.</p>
</div>
<div>
<h3>Css3/html5</h3>
<p>Built-on CSS3 and HTML5 semantics to allow you to start captializing on a next generation standard.</p>
</div>
<div>
<h3>Quick Start</h3>
<p>First, clone the AdaptGrid from Github. Then add the grid and class in your web. Lastly, compile the Less and view the awesome changes in your browser</p>
</div>
<div>
<h3>Semantic</h3>
<p>Everything is now semantic. Now you can have the cleanest markup without sacrificing the utility and speed of AdaptGrid.</p>
</div>
<div>
<h3>Mobile Fisrt</h3>
<p>Now you can build for small devices first. Then, as devices get larger and larger, layer in more complexity.</p>
</div>
<div>
<h3>Responsive</h3>
<p>Make Responsive Theme part of your website design, or upgrade your current one to a mobile friendly Theme that automatically adapts to any screen resolution or device.</p>
</div>
<div>
<h3>Less</h3>
<p>You don't have to know a ton about Less to take this class. The first hour covers an introduction, with the second hour focused on implementing it. You'll be writing Less in no time.</p>
</div>
<div>
<h3>Css3/html5</h3>
<p>Built-on CSS3 and HTML5 semantics to allow you to start captializing on a next generation standard.</p>
</div>
<div>
<h3>Quick Start</h3>
<p>First, clone the AdaptGrid from Github. Then add the grid and class in your web. Lastly, compile the Less and view the awesome changes in your browser</p>
</div>
<div>
<h3>Semantic</h3>
<p>Everything is now semantic. Now you can have the cleanest markup without sacrificing the utility and speed of AdaptGrid.</p>
</div>
<div>
<h3>Mobile Fisrt</h3>
<p>Now you can build for small devices first. Then, as devices get larger and larger, layer in more complexity.</p>
</div>
<div>
<h3>Responsive</h3>
<p>Make Responsive Theme part of your website design, or upgrade your current one to a mobile friendly Theme that automatically adapts to any screen resolution or device.</p>
</div>
<div>
<h3>Less</h3>
<p>You don't have to know a ton about Less to take this class. The first hour covers an introduction, with the second hour focused on implementing it. You'll be writing Less in no time.</p>
</div>
<div>
<h3>Css3/html5</h3>
<p>Built-on CSS3 and HTML5 semantics to allow you to start captializing on a next generation standard.</p>
</div>
<div>
<h3>Quick Start</h3>
<p>First, clone the AdaptGrid from Github. Then add the grid and class in your web. Lastly, compile the Less and view the awesome changes in your browser</p>
</div>
<div>
<h3>Semantic</h3>
<p>Everything is now semantic. Now you can have the cleanest markup without sacrificing the utility and speed of AdaptGrid.</p>
</div>
<div>
<h3>Mobile Fisrt</h3>
<p>Now you can build for small devices first. Then, as devices get larger and larger, layer in more complexity.</p>
</div>
<div>
<h3>Responsive</h3>
<p>Make Responsive Theme part of your website design, or upgrade your current one to a mobile friendly Theme that automatically adapts to any screen resolution or device.</p>
</div>
<div>
<h3>Less</h3>
<p>You don't have to know a ton about Less to take this class. The first hour covers an introduction, with the second hour focused on implementing it. You'll be writing Less in no time.</p>
</div>
<div>
<h3>Css3/html5</h3>
<p>Built-on CSS3 and HTML5 semantics to allow you to start captializing on a next generation standard.</p>
</div>
<div>
<h3>Quick Start</h3>
<p>First, clone the AdaptGrid from Github. Then add the grid and class in your web. Lastly, compile the Less and view the awesome changes in your browser</p>
</div>
<div>
<h3>Semantic</h3>
<p>Everything is now semantic. Now you can have the cleanest markup without sacrificing the utility and speed of AdaptGrid.</p>
</div>
<div>
<h3>Mobile Fisrt</h3>
<p>Now you can build for small devices first. Then, as devices get larger and larger, layer in more complexity.</p>
</div>
<div>
<h3>Responsive</h3>
<p>Make Responsive Theme part of your website design, or upgrade your current one to a mobile friendly Theme that automatically adapts to any screen resolution or device.</p>
</div>
<div>
<h3>Less</h3>
<p>You don't have to know a ton about Less to take this class. The first hour covers an introduction, with the second hour focused on implementing it. You'll be writing Less in no time.</p>
</div>
<div>
<h3>Css3/html5</h3>
<p>Built-on CSS3 and HTML5 semantics to allow you to start captializing on a next generation standard.</p>
</div>
<div>
<h3>Quick Start</h3>
<p>First, clone the AdaptGrid from Github. Then add the grid and class in your web. Lastly, compile the Less and view the awesome changes in your browser</p>
</div>
<div>
<h3>Semantic</h3>
<p>Everything is now semantic. Now you can have the cleanest markup without sacrificing the utility and speed of AdaptGrid.</p>
</div>
<div>
<h3>Mobile Fisrt</h3>
<p>Now you can build for small devices first. Then, as devices get larger and larger, layer in more complexity.</p>
</div>
<div>
<h3>Responsive</h3>
<p>Make Responsive Theme part of your website design, or upgrade your current one to a mobile friendly Theme that automatically adapts to any screen resolution or device.</p>
</div>
<div>
<h3>Less</h3>
<p>You don't have to know a ton about Less to take this class. The first hour covers an introduction, with the second hour focused on implementing it. You'll be writing Less in no time.</p>
</div>
<div>
<h3>Css3/html5</h3>
<p>Built-on CSS3 and HTML5 semantics to allow you to start captializing on a next generation standard.</p>
</div>
<div>
<h3>Quick Start</h3>
<p>First, clone the AdaptGrid from Github. Then add the grid and class in your web. Lastly, compile the Less and view the awesome changes in your browser</p>
</div>
<div>
<h3>Semantic</h3>
<p>Everything is now semantic. Now you can have the cleanest markup without sacrificing the utility and speed of AdaptGrid.</p>
</div>
<div>
<h3>Mobile Fisrt</h3>
<p>Now you can build for small devices first. Then, as devices get larger and larger, layer in more complexity.</p>
</div>
<div>
<h3>Responsive</h3>
<p>Make Responsive Theme part of your website design, or upgrade your current one to a mobile friendly Theme that automatically adapts to any screen resolution or device.</p>
</div>
<div>
<h3>Less</h3>
<p>You don't have to know a ton about Less to take this class. The first hour covers an introduction, with the second hour focused on implementing it. You'll be writing Less in no time.</p>
</div>
<div>
<h3>Css3/html5</h3>
<p>Built-on CSS3 and HTML5 semantics to allow you to start captializing on a next generation standard.</p>
</div>
<div>
<h3>Quick Start</h3>
<p>First, clone the AdaptGrid from Github. Then add the grid and class in your web. Lastly, compile the Less and view the awesome changes in your browser</p>
</div>
<div>
<h3>Semantic</h3>
<p>Everything is now semantic. Now you can have the cleanest markup without sacrificing the utility and speed of AdaptGrid.</p>
</div>
<div>
<h3>Mobile Fisrt</h3>
<p>Now you can build for small devices first. Then, as devices get larger and larger, layer in more complexity.</p>
</div>
<div>
<h3>Responsive</h3>
<p>Make Responsive Theme part of your website design, or upgrade your current one to a mobile friendly Theme that automatically adapts to any screen resolution or device.</p>
</div>
<div>
<h3>Less</h3>
<p>You don't have to know a ton about Less to take this class. The first hour covers an introduction, with the second hour focused on implementing it. You'll be writing Less in no time.</p>
</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script> 
<script src="../src/jquery-scrollToTop.js"></script> 
<script type="text/javascript">
        $(document).ready(function($) {
            $('body').scrollToTop({skin: 'cycle', easing: 'easeInOutElastic'});
        });
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>












      </div><!-- /.header-title-wrap -->
    </header>
    <div class="entry-content">
      {{ content }}
      <footer class="entry-meta">
        {% if page.modified %}{{ page.title }} was last modified on <span class="entry-date date modified"><time datetime="{{ page.modified }}">{{ page.modified }}</time></span>
        <span class="author vcard fn">{{ site.owner.name }}</span>{% endif %}
        {% if page.share %}<div class="social-share">
          <ul class="socialcount socialcount-small inline-list" data-url="{{ site.url }}{{ page.url }}" data-share-text="{{ page.title }}">
            <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a></li>
            <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" title="Share on Twitter"><span class="count"><i class="fa fa-twitter-square"></i> Tweet</span></a></li>
            <li class="googleplus"><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus"><span class="count"><i class="fa fa-google-plus-square"></i> +1</span></a></li>
          </ul>
        </div><!-- /.social-share -->{% endif %}
      </footer>
    </div><!-- /.entry-content -->
    {% if site.disqus_shortname and page.comments %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}          

</body>
</html>
